In [1]:
import pandas as pd
import users_filters as uf

ModuleNotFoundError: No module named 'users_filters'

In [2]:
subs = pd.read_csv('./sub/21.02.19-12:21.csv')
subs = subs.replace({pd.np.nan: None})
subs.head()

/home/azat/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (1,3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,Unnamed: 0.1,full_name,group_id,shrot_name,user_id
0,0,0,IZ.RU,None,izvestia,5
1,1,1,FACES!,None,faces,5
2,2,2,Forbes,None,forbes,5
3,3,3,Harvard Business Review Россия,None,hbrrussia,5
4,4,4,TJ,None,tj,5

In [3]:
users = pd.read_csv('./users/21.02.19-12:21.csv')
users.drop(columns=['Unnamed: 0', 'Unnamed: 0.1'], inplace=True)
users = users.replace({pd.np.nan: None})
users.head()

/home/azat/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (4,10,13,16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,about,activities,alcohol,bdate,books,career,city,country,faculty_id,faculty_name,...,relation,school_city,school_name,school_type,sex,smoking,type_occupation,university_id,university_name,user_id
0,None,None,1,10.10.1984,None,"[{'group_id': 22822305, 'country_id': 1, 'city...",Санкт-Петербург,Россия,0,None,...,0,2,Академическая гимназия (АГ) СПбГУ,None,2,1,work,1,СПбГУ,1
1,None,None,None,18.11,None,None,Москва,Россия,None,None,...,None,None,None,None,2,None,work,None,None,5
2,None,None,None,None,None,None,Санкт-Петербург,Россия,None,None,...,None,None,None,None,2,None,university,None,None,6
3,None,None,None,None,None,None,London,Великобритания,None,None,...,None,None,None,None,2,None,work,None,None,7
4,▄██▄██▄░██░░░▄█▀▀█▄░█▌░░▐█░██▀▀▀░▄██▄██▄ ▀████...,▄██▄██▄░██░░░▄█▀▀█▄░█▌░░▐█░██▀▀▀░▄██▄██▄ ▀████...,2,None,▄██▄██▄░██░░░▄█▀▀█▄░█▌░░▐█░██▀▀▀░▄██▄██▄ ▀████...,[],Киев,Украина,0,None,...,5,314,№ 1,None,2,4,university,233160,АУ МВД Украины,8

In [4]:
print(f"users: {len(users)}, subs: {len(subs)}")
bool(users['bdate'][2])

users: 430374, subs: 14924967

False

In [5]:
girl = []
num_girl = 0
pop = []
num_pop = 0
pop_history = []
girl_history = []
for num, user in enumerate(users.iterrows()):
    user = user[1]
    filter_girl = []
    filter_pop = []
    if num > -1:
        user_sub = subs[subs['user_id'] == user['user_id']]
        
        filter_girl.append(uf.sex_filter(user, 1))
        filter_girl.append(uf.age_filter(user, list(range(1988, 2001)), True))
        filter_girl.append(uf.top_univer_filter(user, user_sub))
        #filter_girl.append(uf.bank_filter(user, user_sub))
        filter_girl.append(uf.travel_filter(user, user_sub, threshold=0))
        
        filter_pop.append(uf.age_filter(user, list(range(2003, 1950)), True))
        filter_pop.append(uf.nauchpop_filter(user, user_sub, threshold=1))
        
        if all(filter_pop):
            pop.append(user['user_id'])
            num_pop += 1
        pop_history.append(filter_pop)
        if all(filter_girl):
            girl.append(user['user_id'])
            num_girl += 1
        girl_history.append(filter_girl)
        if  num % 500 == 0 and num > 0:
            print(f"girl: {num_girl}, pop: {num_pop}")
            print(f"random_id girl: {girl[-1]}, pop: {pop[-1]}")

girl: 4, pop: 49
random_id girl: 5385.0, pop: 5385.0
girl: 15, pop: 99
random_id girl: 11012.0, pop: 11630.0
girl: 27, pop: 135
random_id girl: 17321.0, pop: 17446.0

KeyboardInterrupt:

In [ ]:
from json import JSONEncoder
j = JSONEncoder()
with open('./filtered_users/21.02.19-12:08_girl.json', 'w') as fw:
    fw.write(j.encode(girl))
with open('./filtered_users/21.02.19-12:08_pop.json', 'w') as fw:
    fw.write(j.encode(pop))